<ion-content>
  <mat-tab-group class="custom-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="" name="cellular-outline"></ion-icon>
        {{'data.data' | translate}}
      </ng-template>
      <app-users-info [users]="(_firebaseService.users$ | async)" (onUserClicked)="userInfo($event)"></app-users-info>

      <div class="category-mobile" (click)="createCategory()">
        <button>{{ "data.create" | translate }}</button>
      </div>

      <app-categories-info [categories]="(_firebaseService.categories$ | async)" (onEditClicked)="editCategory($event)" (onTrashClicked)="openDialog($event)"></app-categories-info>

      <div class="category-button" (click)="createCategory()">
        +
      </div>
    </mat-tab>
  
    <mat-tab>
      
      <ng-template mat-tab-label>
        <ion-icon name="cellular-outline"></ion-icon>
        {{'data.graphic' | translate}}
      </ng-template>

      <div class="graphics">
        <p-accordion>
          <p-accordionTab header="{{'data.users' | translate}}">
            <app-user-circle-graphic></app-user-circle-graphic>
          </p-accordionTab>
          <p-accordionTab header="{{'data.catind' | translate}}">
            <app-incidents-circle-graphic></app-incidents-circle-graphic>
          </p-accordionTab>
        </p-accordion>
      </div>

    </mat-tab>
  </mat-tab-group>

  <p-toast [breakpoints]="{'600px': {width: '96%', right: '1%', left: '1%'}}" position="top-left" key="tl"></p-toast>
</ion-content>
