<ion-content>
  <mat-tab-group class="custom-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="" name="cellular-outline"></ion-icon>
        {{'data.data' | translate}}
      </ng-template>
      <app-users-info [users]="(_firebaseService.users$ | async)" (onUserClicked)="userInfo($event)"></app-users-info>
      <app-categories-info [categories]="(_firebaseService.categories$ | async)" (onCategoryClicked)="categoryInfo($event)"></app-categories-info>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon name="cellular-outline"></ion-icon>
        {{'data.graphic' | translate}}
      </ng-template>
      Content 2
    </mat-tab>
  </mat-tab-group>
</ion-content>
