ion-header {
    --background: transparent;
    ion-toolbar {
        padding: 1.5%;
        --background: transparent;
        border: none;
        box-shadow: none;
        
        .app-logo {
          height: 60px;
        }
    }
}
ion-item{
    cursor: pointer;
}