<div id="popover-button-category">
  <ion-item [button]="!disabled" [detail]="!disabled">
    <ion-text slot="start" position="fixed">{{'data.categories' | translate}}:</ion-text>
    <ion-text *ngIf="!categorySelected && !disabled">{{'data.selectCat' | translate}}</ion-text>
    <ion-text *ngIf="categorySelected">{{categorySelected.data.name}}</ion-text>
</ion-item>

</div>

<ion-popover *ngIf="!disabled" trigger="popover-button-category" #popover (willPresent)="onLoadCategories()">
  <ng-template>
    <ion-content >
      
      <ion-list>
        <app-item-category
          (clicked)="onCategoryClicked(popover,$event)"
          *ngFor="let category of categories"
          [item]="category"
        ></app-item-category>
      </ion-list>

    </ion-content>
  </ng-template>
</ion-popover>