<form [formGroup]="form" (ngSubmit)="onSub()" (keyup.enter)="onSub()">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.name' | translate }}</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
      {{ 'errors.valid' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.surname' | translate }}</mat-label>
    <input matInput formControlName="surname">
    <mat-error *ngIf="form.controls['surname'].touched && form.controls['surname'].invalid">
      {{ 'errors.valid' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.email' | translate }}</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
      {{ 'errors.valid' | translate }}
    </mat-error>
    <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')">
      {{ 'errors.emailError' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.username' | translate }}</mat-label>
    <input matInput formControlName="username">
    <mat-error *ngIf="form.controls['username'].touched && form.controls['username'].invalid">
      {{ 'errors.valid' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.password' | translate }}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <mat-error *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
      {{ 'errors.valid' | translate }}
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.repPassword' | translate }}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="repPassword">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <ion-icon *ngIf="hide" name="eye-outline"></ion-icon>
      <ion-icon *ngIf="!hide" name="eye-off-outline"></ion-icon>
    </button>
    <mat-error *ngIf="(form.controls['password'].touched || form.controls['repPassword'].touched) && form.hasError('passwordMatch')">
      {{ 'errors.repeatError' | translate }}
    </mat-error>
  </mat-form-field>

  <button [disabled]="form.invalid" class="register--button">{{ "forms.register" | translate }}</button>
</form>