.incidents {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  width: 100%;
  margin: 2% auto;
  padding: 2%;


  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.mobile {
  display: none;
}

@media (max-width: 600px) {
  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    box-shadow: 0px 2px 15px -2px rgba(71, 71, 71, 0.24);
    border-radius: 0.5rem;
    margin: 2% auto;
    background-color: #BD1E1E;
    
    p {
      font-weight: bold;
      color: #fff;
    }
  }
  .desktop {
    display: none;
  }
}
