.incidents {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  width: 100%;
  margin: 5% auto;
  padding: 2%;


  @media (max-width: 850px) {
    flex-direction: column;
  }
}