<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <div class="access">

    <div class="access__forms">
      <app-login-form (onsubmit)="loginUser($event)" *ngIf="login"></app-login-form>

      <app-register-form (onsubmit)="registerUser($event)" *ngIf="!login"></app-register-form>
      
      <button *ngIf="login" (click)="toRegister()">{{'access.toRegister' | translate}}</button>
    
      <button *ngIf="!login" (click)="toRegister()">{{'access.toLogin' | translate}}</button>
    </div>

    <div class="access__image"></div>

  </div>

  
</ion-content>