<ion-content [fullscreen]="true">

  <div class="access">
    <div class="access__forms">
      <img class="access__forms--logo" src="../../../assets/images/logo.jpg">
      <app-login-form (onsubmit)="loginUser($event)" *ngIf="login"></app-login-form>

      <app-register-form (onsubmit)="registerUser($event)" *ngIf="!login"></app-register-form>
      
      <button *ngIf="login" (click)="changeForm()">{{'access.toRegister' | translate}}</button>
    
      <button *ngIf="!login" (click)="changeForm()">{{'access.toLogin' | translate}}</button>
    </div>

    <div class="access__image"></div>
  </div>

  <p-toast [breakpoints]="{'600px': {width: '96%', right: '1%', left: '1%'}}" position="top-left" key="tl"></p-toast>

</ion-content>