<div (click)="onIncidentClick($event)" [ngClass]="{'card': true, 'checked': incident?.checked, 'noCheck': !incident?.checked}" >
  <div class="card--header">
    <h3 *ngIf="!isScreenSmall" class="card--header__title">{{incident?.title}}</h3>
    <h3 *ngIf="isScreenSmall" class="card--header__title">{{incident?.title | shortenText}}</h3>
    <div *ngIf="!incident?.resolved" class="card--header__status">
      <span>{{'incidents.unresolved' | translate}}</span>
    </div>
  </div>

  <div class="card--info">
    <div>
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <span>
        {{'incidents.day' |translate}}: {{formattedDay}}
      </span>
    </div>
    <div>
      <ion-icon name="time-outline"></ion-icon>
      <span>
        {{'incidents.hour' |translate}}: {{formattedTime}}
      </span>
    </div>
    <div>
      <ion-icon name="person-outline"></ion-icon>
      <span>
        {{'incidents.user' |translate}}: {{userName}}
      </span>
    </div>
  </div>

</div>