<div class="card">

  <div class="card--header">
    <h3 class="card--header__title">{{incident?.title}}</h3>
    <div *ngIf="!incident?.resolved" class="card--header__status">
      <span>{{'incidents.unresolved' | translate}}</span>
    </div>
  </div>

  <div class="card--info">
    <div>
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <span>
        {{'incidents.day' |translate}}: 27/04/2024
      </span>
    </div>
    <div>
      <ion-icon name="time-outline"></ion-icon>
      <span>
        {{'incidents.hour' |translate}}: 13:41
      </span>
    </div>
    <div>
      <ion-icon name="person-outline"></ion-icon>
      <span>
        {{'incidents.user' |translate}}: {{incident?.userName}}
      </span>
    </div>
  </div>

</div>