<ion-app>
  <ion-header *ngIf="auth.user$ | async">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-img slot="end" src="../../../../assets/images/logo.jpg" class="app-logo"></ion-img>
    </ion-toolbar>
  </ion-header>
  
  <ion-menu #menu contentId="main-content" side="start">
    
    <ion-toolbar>
      <div class="menu--header__toolbar">
        <ion-avatar>
          <img [src]="(auth.user$|async)?.picture?.url_thumbnail" alt="{{'menu.avatar' | translate}}"/>
        </ion-avatar>
        <ion-label>
          <span>{{(auth.user$ | async)?.name }} {{ (auth.user$ | async)?.surname | capitalizeInitial}}</span>
        </ion-label>
      </div>
    </ion-toolbar>
  
    <p-divider></p-divider>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>

          <ion-item [class.active]="isActive('/home')" (click)="toHome()">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>{{'menu.home' | translate}}</ion-label>
          </ion-item>

          <ion-item [class.active]="isActive('/settings')" (click)="toSettings()">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>{{'menu.settings' | translate}}</ion-label>
          </ion-item>
          
          <ion-item [class.active]="isActive('/data')" (click)="toData()">
            <ion-icon name="cellular-outline"></ion-icon>
            <ion-label>{{'menu.graphics' | translate}}</ion-label>
          </ion-item>

          <ion-item (click)="logOut()">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>{{'menu.logOut' | translate}}</ion-label>
          </ion-item>
          
        </ion-menu-toggle>
      </ion-list>
      <div (click)="toAbout(menu)" class="menu-footer">
        <p>Copyright © 2024</p>
      </div>
    </ion-content>
  </ion-menu>
  <ion-content>
    <ion-router-outlet  id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>
