ion-item {
    cursor: pointer;
}

ion-icon {
    margin-right: 20px;
}

ion-menu-button {
    --color: #0F212D;
    font-size: 50px;
    margin-left: 100px;
}

ion-item.active {
    --background: #0F212D;
    --color: var(--ion-color-primary-contrast);
    
    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
}

ion-header {
    --background: transparent;
    ion-toolbar {
        --background: transparent;
        border: none;
        box-shadow: none;
        
        .app-logo {
          height: 100px;
          margin-right: 40px;
        }
    }

}

.menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    color: gray; // O el color que prefieras
    border-top: 1px solid lightgray; // Opcional, para añadir una línea divisora
  
    p {
      margin: 0; // Para asegurarte de que el párrafo no tenga margen extra
    }
  }


.menu--header__toolbar {
    margin-top: 5%;
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 20px;

    ion-avatar {
        img {
            width: 60px;
        }
    }

    span {
        font-weight: bold;
    }
}
    

@media (max-width: 700px) {
    ion-menu-button{
        font-size: 40px;
        margin-left: 10px;
    }

    ion-header {
        ion-toolbar {
            .app-logo {
              margin-right: 10px;
            }
        }
    }
    
}