<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="clear" (click)="onCancel()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'forms.update' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSub()" (keyup.enter)="onSub()">
      <app-picture-selectable formControlName="picture"></app-picture-selectable>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'forms.name' | translate }}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
          {{ 'errors.valid' | translate }}
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>{{ 'forms.surname' | translate }}</mat-label>
        <input matInput formControlName="surname">
        <mat-error *ngIf="form.controls['surname'].touched && form.controls['surname'].invalid">
          {{ 'errors.valid' | translate }}
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>{{ 'forms.email' | translate }}</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
          {{ 'errors.valid' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].hasError('email')">
          {{ 'errors.emailError' | translate }}
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>{{ 'forms.username' | translate }}</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="form.controls['username'].touched && form.controls['username'].invalid">
          {{ 'errors.valid' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'forms.role' | translate}}</mat-label>
        <mat-select formControlName="role">
          <mat-option value="admin">{{'forms.admin' | translate}}</mat-option>
          <mat-option value="user">{{'forms.user' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

    <button [disabled]="!form.dirty">{{'forms.update' | translate}}</button>

  </form>
</ion-content>
