<ion-content>
  <div class="back">
    <ion-icon (click)="goBack()" size="large" name="arrow-back-outline"></ion-icon>
  </div>
  <div class="user">
    <div class="user--image">
      <img alt="{{'forms.picture' | translate}}" [src]="user?.picture"/>
    </div>

    <div class="user--info">
      <div class="detail">

        <h1 class="detail--name">{{user.name}} {{user.surname}}</h1>

        <p class="detail--username">{{user.username}}</p>

        <p *ngIf="user.role === 'user'" class="detail--role">{{'forms.user' | translate}}</p>
        <p *ngIf="user.role === 'admin'" class="detail--role">{{'forms.admin' | translate}}</p>

        <button (click)="updateUser(user)">{{"data.update" | translate}}</button>
      </div> 
    </div>
  </div>
</ion-content>