<ion-content>
  <div class="user">
    <div class="user--image">
      <img alt="{{'forms.picture' | translate}}" [src]="user?.picture"/>
    </div>

    <div class="user--info">
      <div class="detail">

        <h1 class="detail--name">{{user.name}} {{user.surname}}</h1>

        <p class="detail--username">{{user.username}}</p>

        <p class="detail--role">{{user.role}}</p>

        <button (click)="updateUser(user)">{{"data.update" | translate}}</button>
      </div> 
    </div>
  </div>
</ion-content>