<ion-content>
  <div class="container">
    <div class="header">
      <h1>CHATO</h1>
      <p class="slogan">
        {{'about.about' | translate}}
      </p>
      <div class="social-icons">
        <a href="https://github.com/imchopi/TFG_Chato"><ion-icon size="large" name="logo-github"></ion-icon></a>
        <a href="https://github.com/jotaeme890/TFC-Chato-Angular"><ion-icon size="large" name="logo-github"></ion-icon></a>
        <a href="https://github.com/imchopi/TFG_Chato_Android"><ion-icon size="large" name="logo-github"></ion-icon></a>
      </div>
    </div>
    <img class="footer" src="../../../assets/images/footer_oscuro_sin_fondo.png" alt="Footer Image" />
  </div>
</ion-content>
