<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bienvenido a Chato, la mejor solución para resolver las incidencias de tu empresa. </p>
      <p>Autores: Javier Miguel Martín Gallardo, Adrián Perogil Fernández</p>
      <ion-list>
        <ion-item href="https://github.com/imchopi/TFG_Chato">
          <ion-label>Principal</ion-label>
        </ion-item>
        <ion-item href="https://github.com/jotaeme890/TFC-Chato-Angular/tree/main">
          <ion-label>Angular</ion-label>
        </ion-item>
        <ion-item href="https://github.com/autor/repo2">
          <ion-label>Android</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>