<ion-content>
  <div class="user">
    <div class="user--image">
      <img alt="{{'forms.picture' | translate}}" [src]="incident?.image"/>
    </div>

    <div class="user--info">
      <div class="detail">

        <h1 class="detail--name">{{incident.title}}</h1>

        <p class="detail--username">{{incident.categoryName}}</p>

        <p class="detail--username">{{incident.userName}}</p>

        <p class="detail--role">{{incident.description}}</p>

        <button *ngIf="!incident.resolved" (click)="setResolvedIncident(incident)">{{"incidents.resolved" | translate}}</button>
      </div> 
    </div>
  </div>
  <p-toast [breakpoints]="{'600px': {width: '96%', right: '1%', left: '1%'}}" position="top-left" key="tl"></p-toast>
</ion-content>
