<div>
  <form [formGroup]="form" (ngSubmit)="onSub()" (keyup.enter)="onSub()">
  
    <mat-form-field appearance="outline">
      <mat-label>{{'forms.email' | translate}}</mat-label>
      <input type="text" placeholder="gmail@gmail.com" matInput formControlName="email">
      <mat-error *ngIf="form.controls['email'].invalid">{{'errors.valid' | translate}}</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>{{'forms.password' | translate}}</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.controls['password'].invalid">{{'errors.valid' | translate}}</mat-error>
    </mat-form-field>
  
    <button>Iniciar sesión</button>
  
  </form>
</div>